/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.dm.dmImageEditorPlugin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
}
.dm.dmImageEditorPlugin table tr td {
  padding: 5px;
}
.dm.dmImageEditorPlugin .toolbox {
  border: solid 1px #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
  margin-bottom: 10px;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d5d5d5), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #d5d5d5, #eeeeee);
  background: -moz-linear-gradient(center bottom, #d5d5d5 0%, #eeeeee 100%);
}
.dm.dmImageEditorPlugin .toolbox .toolbox-tools button {
  padding: 5px;
  float: left;
  margin-left: 2px;
}
.dm.dmImageEditorPlugin .toolbox .toolbox-tools div.separator {
  float: left;
  margin-left: 2px;
  width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dm.dmImageEditorPlugin .toolbox .toolbox-tools div.new-line {
  clear: both;
  width: 100%;
  height: 2px;
}
.dm.dmImageEditorPlugin .toolbox .toolbox-tools span.viewport {
  float: left;
}
.dm.dmImageEditorPlugin .toolbox .toolbox-tools span.image_quality {
  float: left;
}
.dm.dmImageEditorPlugin .toolbox .toolbox-settings {
  margin-top: 5px;
  border: solid 1px #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  padding: 5px;
}
.dm.dmImageEditorPlugin .toolbox .toolbox-settings button {
  padding: 5px;
}
.dm.dmImageEditorPlugin .canvas-wrapper {
  border: solid 1px #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
}
.dm.dmImageEditorPlugin .canvas-wrapper .canvas {
  border: solid 5px #ffffff;
  overflow: auto;
}
.dm.dmImageEditorPlugin .canvas-wrapper .canvas.ready-state {
  background-image: url('../images/background.png');
}
.dm.dmImageEditorPlugin .canvas-wrapper .canvas.hover-state {
  background-image: linear-gradient(bottom, #eaf8ea 2%, #e9f7e9 51%, #eaf8ea 76%);
  background-image: -o-linear-gradient(bottom, #eaf8ea 2%, #e9f7e9 51%, #eaf8ea 76%);
  background-image: -moz-linear-gradient(bottom, #eaf8ea 2%, #e9f7e9 51%, #eaf8ea 76%);
  background-image: -webkit-linear-gradient(bottom, #eaf8ea 2%, #e9f7e9 51%, #eaf8ea 76%);
  background-image: -ms-linear-gradient(bottom, #eaf8ea 2%, #e9f7e9 51%, #eaf8ea 76%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.02, #eaf8ea), color-stop(0.51, #e9f7e9), color-stop(0.76, #eaf8ea));
}
.dm.dmImageEditorPlugin .actionbox {
  border: solid 1px #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
  margin-top: 10px;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #d5d5d5));
  background: -ms-linear-gradient(bottom, #eeeeee, #d5d5d5);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #d5d5d5 100%);
}
.dm.dmImageEditorPlugin .actionbox .status-bar {
  float: left;
  color: #999999;
  margin-top: 5px;
}
.dm.dmImageEditorPlugin .actionbox button {
  padding: 5px;
  margin-left: 2px;
  float: right;
}
.dm .dmImageEditorPluginDialog .help {
  color: #999999;
  font-style: italic;
  padding: 5px;
}
.dm .dmImageEditorPluginDialog .question {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.dm .dmImageEditorPluginDialog .message {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.dm .dmImageEditorPluginDialog table tr td {
  padding: 5px;
}
.dm .dmImageEditorPluginDialog table tr td .legend,
.dm .dmImageEditorPluginDialog table tr td .author,
.dm .dmImageEditorPluginDialog table tr td .license {
  width: 100%;
}
